<div class="main-block">
  <div class="account-block">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, remote: true) do |f| %>
    <div id="info_block"><%= get_notice %></div>
    <div class="field-block">
      <h2>Редагувати профіль</h2>
      <div class="form-group">
        <%= f.text_field :login, class: 'form-control', placeholder: "Введіть логін" %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, class: 'form-control', placeholder: "Введіть e-mail" %>
      </div>
      <div class="form-group">
        <%= f.text_field :name, class: 'form-control', placeholder: "Введіть імя" %>
      </div>
      <div class="form-group">
        <i>(Залиште поля пустими<br /> якщо не хочете міняти)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Введіть новий пароль" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', 
          placeholder: "Підтвердіть новий пароль" %>
      </div>
      <div class="form-group">
        <i>(Введіть теперішній пароль<br /> для зміни інформації)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: "Введіть поточний пароль" %>
      </div>
      <div class="actions">
        <%= f.submit "Редагувати", class: 'btn btn-default' %>
      </div>
    </div>
    <div class="avatar-block">
      <h2>Аватар</h2>
      <hr>
      <div id="file_block">
        <% if resource.avatar.exists? %>
        <%= image_tag resource.avatar, id: 'file_container' %>
        <%= link_to 'Видалити аватар', nil, id: 'clear', for: "#avatar" %>
        <%= f.label :avatar, 'Виберіть аватар', id: 'raper_file', for: 'avatar', style: "display:none" %>
        <%= f.file_field :avatar, id: 'avatar' %>   
        <% else %>
        <%= image_tag nil, id: 'file_container', style: "display: none" %>
        <%= f.label :avatar, 'Виберіть аватар', id: 'raper_file', for: 'avatar' %>
        <%= f.file_field :avatar, id: 'avatar' %>
        <%= link_to 'Видалити аватар', nil, id: 'clear', style: "display: none", for: "#avatar" %>
        <% end %> 
      </div>
    </div>
    <% end %>
  </div>
</div>