  <header>
    <div class="top-bar">
      <ul>
        <li><%= link_to t('.home'), root_path, id: "item_menu" %></li>
        <% if user_signed_in? %>
        <li><%= link_to t('.office'), edit_user_registration_path %></li>
        <% if can? :create, Product %>
        <li><%= link_to t('.create_product'), new_product_path %></li>
        <% end %>  
        <li><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to t('.registration'), new_user_registration_path %></li>
        <li><%= link_to t('.login'), new_user_session_path  %></li>
        <% end %>  
      </ul>  
      
      <div class="choose-lan">
        <%= form_tag root_path do %>
          <%= label_tag 'en', 'en' %>
          <%= radio_button_tag 'locale', 'en', false, id: 'en', onchange: 'this.form.submit()' %> |  
          <%= label_tag 'uk', 'uk' %>
          <%= radio_button_tag 'locale', 'uk', false, id: 'uk', onchange: 'this.form.submit()' %>
        <% end %>
      </div>

      <%= form_tag products_path, method: :get, enforce_utf8: false, id: 'search_action' do %>
        <%= submit_tag t('.search'), name: nil %>
        <%= text_field_tag :search, params[:search], autocomplete: "off" %>
        <div class="search-results"></div>
      <% end %>
    </div>
  </header>