    <div class="left-side-base">
      <div class="left-side">
        <ul>
          <li><%= link_to 'Майстерня', admin_root_path %></li>
          <li><%= link_to 'Товари', admin_products_path %></li>
          <li>
            <%= link_to admin_orders_path do %> 
            Замовлення <%= get_orders_unverified_count %>
            <% end %>
          </li>
          <li><%= link_to 'Категорії', admin_categories_path %></li>
          <li><%= link_to 'Відгуки', admin_comments_path %></li>
          <li><%= link_to 'Користувачі', admin_users_path %></li>
        </ul>
      </div>
    </div>
    